@import "tailwindcss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  overflow-y: scroll;
}

body {
  width: 100%;
  background-color: rgb(243, 243, 243);
}

:root {
  --main-color: #ff5314;
  --sec-color: #e7e7e7;
  --black-color: #181818;
  --font-size: 16px;
  --main-font-color: #181818;
  font-family: NeueMontrealRegular;
}

@font-face {
  font-family: NeueMontreal;
  src: url("/public/font/NeueMontreal-Light.woff2") format("woff");
}

@font-face {
  font-family: NeueMontrealRegular;
  src: url("/public/font/NeueMontreal-Regular.woff2") format("woff");
}

@font-face {
  font-family: NeueMontrealMedium;
  src: url("/public/font/NeueMontreal-Medium.woff2") format("woff");
}

@font-face {
  font-family: NeueMontrealBold;
  src: url("/public/font/NeueMontreal-Bold.woff2") format("woff");
}

@media (min-width: 1024px) {
  .base-container {
    width: 100% !important;
    max-width: 1600px;
    display: flex;
    margin: auto;
  }
}

.main-color {
  background-color: var(--main-color);
}

.sec-color {
  background-color: var(--sec-color);
}

.main-font-color {
  color: var(--main-font-color);
}

.black-color {
  color: var(--black-color);
}

.main-font {
  font-family: NeueMontrealRegular;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
}
.card-item {
  will-change: transform, opacity;
}

.card-item:hover > img {
  transform: rotateX("-45degree") !important;
}
